<h1>Welcome to Reddit</h1>
<% if user_signed_in? %>
  <p>Hi <%= current_user.email %></p>
<% else %>
  <p>Reddit is better when you have an account. <a href="/users/sign_up"> Create one </a></p>
<% end %>
