<div class="container">
  <h1>Here are the posts in the <%= @subreddit_name %> subreddit</h1>
    <% @images.map do |title_and_link|  %>
    <div class="row">
    <div class="col-2">
      <img src= "<%= title_and_link[:url] %>" height="100">
    </div>
    <div class="col"
      <p><%= title_and_link[:title] %></p>
    </div>

    </div>
    <% end %>
    </div>
</div>
